* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.over-line {
  font-size: 16px;
}

.p-1 {
  padding: 4px;
}

.caption {
  font-size: 14px;
}

.color-caption {
  color: #bababa;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 16px 0;
}

.container {
  margin: 0 auto;
}

.carousel-wrapper {
  width: 424px;
  height: 100%;
  margin: 0 24px;
  position: relative;
  overflow-x: hidden;
}

.carousel-wrapper .carousel {
  position: absolute;
  top: 12%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.518, 0.955);
  transition: -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.518, 0.955);
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.518, 0.955);
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.518, 0.955), -webkit-transform 300ms cubic-bezier(0.455, 0.03, 0.518, 0.955);
}

.carousel-wrapper .carousel .card:first-child {
  margin-left: 16px;
}

.carousel-wrapper .carousel .card:last-child {
  margin-right: 16px;
}

.ok {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.weather-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #dfe1e5;
  color: #555;
}

.weather-details .side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.weather-details .side-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.weather-details .side-right p {
  margin: 0 8px;
}

.weather-details .side-right p:first-child {
  font-size: 120px;
  font-weight: 100;
}

.weather-details .side-right p:last-child {
  margin-bottom: 60px;
  font-size: 40px;
}

.parent-card,
.weather-details,
.side-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parent-card {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 48px auto;
  border-radius: 4px;
}

.card,
.parent-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  border: solid 1px #dfe1e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 16px;
  width: 120px;
  border-radius: 4px;
  background-color: #ffffff;
}

.mx-4px {
  margin: 0 4px;
}

.fav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #dfe1e5;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.fav-button i {
  display: inline-block;
  color: #878787;
}

.pl-2px {
  padding-left: 2px;
}

.weather-board {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-active {
  border: solid 1px #ff9800;
  -webkit-box-shadow: 0 0 4px rgba(255, 152, 0, 0.1);
          box-shadow: 0 0 4px rgba(255, 152, 0, 0.1);
}

.detail-icon {
  margin: 8px 0;
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=App.css.map */